@import "./colors.scss";

.app {
  background-color: $background-grey-light;
  width: 100%;
  height: 100vh;
}

.ui.form {
  .btn-submit {
    width: 100%;
    background-color: $action;
    color: $font-light;
  }
}
